{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}



  <main class="l-main">
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__sneaker">
                <div class="home__shape"></div>
                <img  src="{ % static './imghome.png' % }">
              </div>

            <div class="home__data">
                <span class="home__new">New Arrivals!!</span>
                <h1 class="home__title"> SELL OR BUY <br> IT SATISFIES</h1>
                <p class="home__description"> Explore the new collection of different categories!</p>
                <a href= "#" class="button">Explore</a>
            </div>
        </div>
    </section>
  </main>

  <section class="featured section" id="featured">
    <h2 class="section-title">FEATURED</h2>
    
        <div class="featured__container bd-grid">
            {% for category in categories %}
                <article class="sneaker">
                    <ul>
                        <li><a href="{% url 'category_items' category %}">{{category}}</a></li>
                    </ul>
                </article>
            {% endfor %}
        </div>
      
  </section>

  <main "l-main">
    <section class="featured section">
      {% for listing in all_listings %}
      <div style="display: flexbox;">
        <img style="width: 250px;" src="{{MEDIA_URL}}{{listing.image}}"  >
        <a href="{% url 'item' listing.id %}">{{listing.title}}<a/>
          <span class="sneaker__price"> ${{listing.starting_bid}}</span>
          {% if listing.close_bid %}
            <div >Closed</div>
          {% else %}
            <div>Active</div>
          {% endif %}
      </div>
    </section>
  </main>

  

  {% endfor %}
  

    

{% endblock %}