{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}



  <main class="l-main">
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__sneaker">
                <div class="home__shape"></div>
                <img  src="{ % static './imghome.png' % }" style="height:300px;width:300px; padding:auto;" >
              </div>

            <div class="home__data">
                <span class="home__new">New In</span>
                <h1 class="home__title"> YEEZY BOOST <br> SPLY-350</h1>
                <p class="home__description"> Explore the new collection of sneakers</p>
                <a href= "#" class="button">Explore</a>
            </div>
        </div>
    </section>
  </main>

  <section class="featured section" id="featured">
    <h2 class="section-title">FEATURED</h2>
    
        <div class="featured__container bd-grid">
            {% for category in categories %}
                <article class="sneaker">
                    <ul>
                        <li><a href="{% url 'category_items' category %}">{{category}}</a></li>
                    </ul>
                </article>
            {% endfor %}
        </div>
      
  </section>

  <main class="l-main">
    <section class="featured section">
      <h2 class="section-title">{message}</h2>
      {% for listing in all_listings %}
      <div class="featured__container bd-grid">
        
        <article class="sneaker">

          {% if listing.close_bid %}
            <div class="sneaker__sale">Closed</div>
          {% else %}
            <div class="sneaker__sale">Active</div>
          {% endif %}

          <img  src="{{MEDIA_URL}}{{listing.image}}" class="sneaker__img" >
          <a href="{% url 'item' listing.id %}" class="sneaker__name">{{listing.title}}<a/>
          <span class="sneaker__price"> ${{listing.starting_bid}}</span>

        </article>

      </div>
    </section>
  </main>


  

    {% endfor %}

{% endblock %}
