{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{% static 'indexproduct.css' %}" >
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>

   <div class="grid-items">
        <div class="container">
          <h1 class="lg-title">{{message}}:</h1>
    
          <div class="grid-wrapper">
            {% for listing in all_listings %}
            <div class="grid-items">
                <div class="product">
                    <div class="product-content">

                        <div class="product-img">
                          <img  src="{{MEDIA_URL}}{{listing.image}}">
                        </div>

                        <div class = "product-btns">
                          <button type = "button" class = "btn-cart"> add to cart
                              <span><i class = "fas fa-plus"></i></span>
                          </button>
                          <button type = "button" class = "btn-buy"> bid now
                              <span><i class = "fas fa-shopping-cart"></i></span>
                          </button>
                        </div>

                    </div>

                    <div class = "product-info">
                      <div class = "product-info-top">
                          <h2 class = "sm-title">MUSIC</h2>
                          <div class = "rating">
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "fas fa-star"></i></span>
                              <span><i class = "far fa-star"></i></span>
                          </div>
                      </div>
                      <a href = "#" class = "product-name">GUITAR</a>
                      <p class = "product-price">$ 150.00</p>
                      <p class = "product-price">STARTING BID $15</p>
                  </div>

                  <div class = "off-info">
                      <h2 class = "sm-title">ACITVE</h2>
                  </div>
                </div>


              
              
              <!-- <a href = "{% url 'item' listing.id %}" class = "product-name">{{listing.title}}</a> -->
    
            </div>
            {% endfor %}
          </div>

        </div>
      </div>


</body>
</html>